.boxPai {
  display: flex;
  justify-content: space-between;
  /* align-content: space-between; */
  flex-wrap: wrap;
}

.box {
  background-color: yellow;
  border-radius: 10%;
  border: 1px solid black;
  /* gap: 5px; */
}

.footer {
  background-color: grey;
  border: 1px solid black;
}