ol li {
    background-color: yellow;
}

.impar {
    text-transform: uppercase;
}

.par {
    color: green;
}
h1, h2, h3 {
    color: red;
}
h1, h2, h3 em{
    font-size: 40px;
    border: 1px solid black;
}
li {
    font-size: 20px;
}
li em {
    font-weight: bold;
}
.linguagens li:nth-last-of-type(n+3){
    color: blue;
}
.linguagens li span {
    background-color: pink;
}
.aplicações a{
    color: inherit;
}
.aplicações li:hover{
    font-weight: bold;
}
.aplicações li:hover:nth-last-of-type(1){
    color: orange;
}
.aplicações li:hover:nth-last-of-type(2){
    color: green;
}
.aplicações li:hover:nth-last-of-type(3){
    color: black;
}
.aplicações li:hover:nth-last-of-type(4){
    color: yellow;
}
.aplicações li:hover:nth-last-of-type(5){
    color: green;
}
    
    

















